@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Libre+Baskerville:wght@700&display=swap');


body{
    font-family: Mochiy Pop P One , Georgia, 'Times New Roman', Times, serif;
}
  header{
    background-color: rgba(207, 204, 22, 0.6);
    box-shadow:3px 3px 3px 3px #CCC;
    height: auto;
    border-radius: 10px;
    font-family:Fredericka the Great, Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    margin: 30px;
    
}

.content{
    max-width: 960px;
    margin: auto;
  
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-gap: 30px;
  
    
 
}


 

 @media (max-width: 1000px) { 
    
    main{
        display: grid;
        grid-template-columns: 1fr  1fr ;
        grid-gap: 30px;
      
        margin: 30px;
     
    }
    .last-grid{
    
        grid-column: span 2;
      
      }
      img{
          width: 100%;
      }
      
 }


 /* @media (max-width: 1000px) { 
    
    .last-grid{
    
      grid-column: span 2;
    
    }
    img{
        width: 100%;
    }
 } */


 
 @media (max-width: 500px) { 
     main{
        display: grid;
        grid-template-columns: 1fr  ;
        grid-gap: 30px;
      
     }
    
 }
 
img{
    max-width: 100%;
}

.first-grid, .sec-grid,.last-grid{
    width: 100%;
    box-shadow: 1px 1px 4px 1px #ccc;
    border-radius: 7px 7px 2px 2px ;
    background-color: white; 
    font-family:   sans-serif;
    overflow: hidden;
  
 
}

p{
    padding: 0.75rem;
}

h4{
    background-color: #ccc;
    padding-top: 30px;
    margin-top: -20px;
    text-align: center;
    font-family:Fredericka the Great, Verdana, Geneva, Tahoma, sans-serif;
}



footer{
    background-color: rgba(207, 204, 22, 0.6);
    box-shadow:3px 3px 3px 3px #CCC;
    height: auto;
    border-radius: 10px;
    text-align: center;
    font-family: Fredericka the Great;
    
     
    
}

.pedd{
    padding: 0;
}
