body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    max-width:900px;
    margin: auto;
}
img{
    max-width: 100%;
}

header{
    background-color: #EBF3FF;
    box-shadow: 3px 3px 3px 3px #180E1B;
    height: auto;
    width: 100%;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}


footer{
    background-color: #ccc;
    box-shadow: 3px 3px 3px 3px #CCC;
    height: auto;
    border-radius: 10px;
    text-align: center;
    
   
  
     
    
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}




header,footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #ccc;
    text-align: center;
    padding: 0.70rem;
    text-decoration: none;
    font-size: 1rem;
}


nav a:hover {
    background-color: #ff7d00;

    color: black;
}