body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1190px;
    margin: auto;
}

header{
    background-color: #180E1B ;
    color: white;
}

nav ul {
    list-style: none;
    /* padding: 0;
    margin: 0; */
}

header nav ul{
    display: flex;

    
}

